* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: balck;
}
.wrapper {
  height: 100vh;
  overflow-x: hidden;
  /* overflow-y: auto; */
  /* overflow: auto; */
  perspective: 10px;
}
#container-1 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transform-style: preserve-3d;
  z-index: -1;
}
.background {
  /* background-image: url(background.png); */
  transform: translateZ(-40px) scale(5.1);
  height: 100%;
  width: 100%;
}
.foreground {
  /* background-image: url(foreground.png); */
  transform: translateZ(-20px) scale(3);
  height: 100%;
  width: 100%;
}
.background,
.foreground {
  position: absolute;
  height: 100%;
  width: 100%;
  /* object-fit: cover; */
}
h1 {
  position: absolute;
  top: 8rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 10rem;
  color: white;
  letter-spacing: 4px;
  text-shadow: 0, 0, 10px rgba(0, 0, 0, 0.3);
}
.secHeading {
  font-size: 5rem;
  padding: 0 10rem;
}
.desc {
  position: absolute;
  background-color: rgb(248, 245, 245);
  padding: 0.5rem 2.5rem;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  color: black;
  font-size: 3rem;
  font-weight: 600;
}
.Text {
  font-size: 1.5rem;
  padding: 0 10rem;
  margin: 5rem;
}
section {
  background-color: rgb(21, 7, 7);
  color: white;
  padding: 5rem 1l;
  margin-bottom: 5px;
}
.bg {
  position: relative;
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.bg1 {
  background-image: url(sport-1.jpg);
}
.bg2 {
  background-image: url(sport-2.jpg);
}
.bg3 {
  background-image: url(sport-3.jpg);
}
